[Unit]
AssertPathExists=/usr/bin/read-teleinfo

[Service]
WorkingDirectory=~
ExecStart=/usr/bin/read-teleinfo
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
Alias=read-teleinfo
WantedBy=multi-user.target